:root {
	font-size: 62.5%;
	--btn: #FFB923;
	--white: #FFFFFF;
	--text-color-one: #212D45;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/*
*::selection {
	border-right-color: var(--text-color-one);
} */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	font-size: 9rem;

}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

a {
	font-size: 1.8rem;
	color: var(--white);
}

.btn {
	padding: 1.2rem 4rem;
}

.btn-primary {
	background-color: var(--btn);
	color: var(--text-color-one);
	border: 1px solid var(--btn);
}

.btn-secondary {
	background-color: transparent;
	color: var(--white);
	border: 1px solid var(--white);
	transition: all 0.2s linear;
}

.btn-secondary:hover {
	background-color: var(--btn);
	border: 1px solid var(--btn);
	color: var(--text-color-one);
}

/* HEADER STYLE START */
.icon {
	font-size: 3rem;
	color: var(--btn);
}

.icon:hover {
	color: var(--white);
}

.header {
	background-image: linear-gradient(rgba(35, 43, 56, 0.9), rgba(35, 43, 56, 0.9)), url("img/hero-img.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header .container .content-1 {
	padding-bottom: 30rem;
}

/* TOP PART START */
.header .container .content-1 .header-part .top-part {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 0;
}

.content-1 .header-part .top-part .logo img {
	width: 15rem;
	height: 5.3rem;
}

.content-1 .header-part .top-part .icons {
	display: flex;
	align-items: center;
	gap: 1.7rem;
}

/* TOP PART EMD */

/* DOWN PART START */
.header .container .content-1 .header-part .down-part {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 4rem;
	padding: 0 2rem;
}

.content-1 .header-part .down-part .menu {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.down-part .button {
	display: flex;
	align-items: center;
}

.bx-menu {
	color: var(--btn);
	font-size: 3.5rem;
}

.down-part .button .sidebar {
	display: none;
}

.content-1 .header-part .down-part .menu a:first-child {
	color: var(--btn);
}

/* DOWN PART END */
.content-1 .header-content {
	padding-top: 15rem;
}

.content-1 .header-content h2 {
	color: var(--btn);
}

.content-1 .header-content h1 {
	color: var(--white);
	margin-top: 2rem;
}

.content-1 .header-content p {
	color: var(--white);
	margin-top: 2.8rem;
	font-size: 1.8rem;
	line-height: 2.5rem;
}

.content-1 .header-content p::selection {
	background-color: var(--btn);
}

.content-1 .header-content .down-button {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 8rem;
	margin-top: 5rem;
}

/* HEADER STYLE END */

/* SECTION-1 STYLE START */
.content-2 {
	transform: translateY(-100px);
}

.section-1 .content-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.section-1 .content-2>* {
	color: var(--text-color-one);
}

/* experience part style */
.experience {
	padding: 0rem 5rem;
	background-color: var(--btn);
}

.experience h1 {
	font-size: 4.5rem;
	margin-top: 1.5rem;
}

.experience h3 {
	font-size: 3rem;
	margin-top: 6rem;
}

.experience p {
	font-size: 2rem;
	margin-bottom: 3rem;
	line-height: 2.5rem;
	margin-top: 1.5rem;
}

.experience p::selection {
	/* border-right-color: var(--text-color-one); */
}

.experience a {
	display: inline-block;
	margin-bottom: 8rem;
}

.btn-ternary {
	background-color: var(--text-color-one);
	font-size: 1.5rem;
	padding: 1.4rem 4rem;
	border: 1px solid var(--text-color-one);
	transition: all 0.2s linear;
}

.btn-ternary:hover {
	border: 1px solid var(--white);
	background-color: var(--white);
	color: var(--text-color-one);
}

/* achivement part style */
.achivement {
	display: grid;
	grid-template-columns: repeat(2, auto);
	background-color: var(--white);
}

.achivement .box {
	padding: 6rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.achivement .box h1 {
	font-size: 4.5rem;
}

.achivement .box p {
	font-size: 2rem;
	margin-top: 1rem;
}

/* SECTION-1 STYLE END */

/* SECTION-2 STYLE START */

/* company services style start */
.section-2 .content-3 .service-header {
	margin-top: 1rem;
}

.content-3 .service-header h3 {
	font-size: 2.3rem;
	color: var(--text-color-one);
}

.content-3 .service-header h1 {
	font-size: 4.5rem;
	margin-top: 1.2rem;
	color: var(--text-color-one);
}

.content-3 .services {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 4rem 1.7rem;
	margin-top: 6rem;
	margin-bottom: 8rem;
}

.content-3 .services .services-types {
	max-width: 100%;
}

.content-3 .services .services-types img {
	width: 100%;
}

.content-3 .services .services-types h2 {
	margin-top: 1rem;
	color: var(--text-color-one);
}

.content-3 .services .services-types p {
	margin-top: 1rem;
	font-size: 1.9rem;
	color: var(--text-color-one);
	font-weight: 300;
}

/* company services style end */

/* SECTION-2 STYLE END */

/* SECTION-3 STYLE START */
.section-3 .content-4 {
	margin-top: 2rem;
}

.content-4 .work-on {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* grid-template-columns: auto auto; */
}

.content-4 .work-on .sub-content {
	width: 70%;
	margin: 0 auto;
	padding: 6rem 0;
}

.content-4 .work-on .ensurity {
	background-image: linear-gradient(rgba(35, 43, 56, 0.9), rgba(35, 43, 56, 0.9)), url("img/building.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.content-4 .work-on .ensurity .sub-content h3 {
	font-size: 2.3rem;
	color: var(--btn);
}

.content-4 .work-on .ensurity .sub-content h1 {
	font-size: 4.5rem;
	margin-top: 1.2rem;
	color: var(--white);
}

.content-4 .work-on .ensurity .sub-content p {
	font-size: 1.8rem;
	margin-top: 1.6rem;
	line-height: 2.6rem;
	color: var(--white);
}

.content-4 .work-on .ensurity .sub-content a {
	display: inline-block;
	margin-top: 4rem;
}

.content-4 .work-on .practices {
	background-image: linear-gradient(rgba(219, 183, 63, 0.6), rgba(209, 227, 75, 0.8)), url("img/lab.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.content-4 .work-on .practices .sub-con-2 {
	padding: 7rem 0;
}

.content-4 .work-on .practices .sub-content h2 {
	font-size: 3rem;
	color: #000000;
}

.content-4 .work-on .practices .sub-content p {
	font-size: 1.9rem;
	margin-top: 1.2rem;
	line-height: 2.6rem;
	color: #000000;
}

.content-4 .work-on .practices .sub-content ul {
	margin-top: 2rem;
	margin-left: 2rem;
}

.content-4 .work-on .practices .sub-content ul li {
	font-size: 2.5rem;
	margin-top: 1.5rem;
}

/* SECTION-3 STYLE END */

/* SECTION-4 STYLE START */

.section-4 .content-5 {
	/* border: 1px solid red; */
	margin-top: 9rem;
	margin-bottom: 6rem;
}

.section-4 .content-5 .connectivity>* {
	flex-basis: 50%;
}

.section-4 .content-5 .connectivity {
	display: flex;
	justify-content: center;
}

.connectivity p {
	font-size: 1.7rem;
	margin-top: -1rem;
	display: flex;
	align-items: center;
	color: var(--text-color-one);
}

.connectivity .main-text h3 {
	font-size: 2.5rem;
	color: var(--text-color-one);
}

.connectivity .main-text h1 {
	font-size: 4.5rem;
	margin-top: 1rem;
}

.our-connection {
	margin-top: 6rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 2.2rem;
}

.our-connection .country-details {
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	padding: 5rem 6rem;
	color: var(--text-color-one);
}

.our-connection .country-details h2 {
	font-size: 2.8rem;
}

.our-connection .country-details p {
	font-size: 1.7rem;
	margin-top: 0.8rem;
}

.our-connection .country-details .details-button {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	margin-top: 3.5rem;
}


.our-connection .country-details .details-button a {
	color: var(--text-color-one);
	font-size: 1.6rem;
	transition: all 0.5s linear;
}

.our-connection .country-details .details-button a:hover {
	color: var(--btn);
}

.bxs-right-arrow-alt {
	font-size: 2rem;
	color: var(--text-color-one);
}

.office-button {
	display: flex;
	justify-content: center;
	margin-top: 6rem;
}

.office-button a {
	font-size: 1.7rem;
}

/* SECTION-4 STYLE END */